<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pyrotech.smart_lights">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pyrotechlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pyrotechlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".connectedDevice"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".DeviceScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".BleGattService"
            android:enabled="true" />
    </application>

</manifest>